<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer Contraseña</title>
</head>
<body>
  <h1>Restablecer Contraseña</h1>
  <p>Ingrese su nueva contraseña:</p>
  
  <!-- Formulario para restablecer la contraseña -->
  <form id="resetPasswordForm">
    <input type="hidden" id="token" value={{token}}>
    <input type="hidden" id="email" value={{email}}>
    <h2>Usuario</h2>
    <h4>{{email}}</h4>

    <label for="password">Escriba su nueva contraseña:</label>
    <input type="password" id="newPassword" name="password" required>
    <label for="password">Confirmar contraseña:</label>
    <input type="password" id="confirmPassword" name="password" required>
    <button type="submit">Restablecer Contraseña</button>
  </form>

  <script src="/js/client.js"></script>
</body>
</html>
